@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
}

.tilteTruncate  {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.react-player{
    z-index: 10;
    position: inherit;
    aspect-ratio: 16/9;
}
.react-player-hidden{
    z-index: 10;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    
}

  /* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.168);
    border-radius: 10px;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.34);
}